@{
    ViewData["Title"] = "Welcome";
}

<h1>Witam</h1>
<p>Projekt zaliczeniowy Rostyslav Novytskyi, nr. album: 15204.</p>

<a asp-action="DodajSuperheroWithPowers" class="btn btn-success">Dodaj Superbohatera z Supermocami.</a>
