@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about building web apps with ASP.NET Core.</p>
    <a class="btn btn-primary btn-lg" href="https://learn.microsoft.com/en-us/aspnet/core/" target="_blank">Learn More</a>
</div>